.our_body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.our_header {
    font-size: 20px;
    padding: 15px;
}

.our_main_divs {
    padding: 20px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.our_footer {
    margin-top: auto;
}

.our_cells {
    padding: 10px;
}

img {
    width: 100%;
}

.our_green_button {
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;

    padding: 12px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
    margin: -2px;
}

.text_field_buy_or_sell {
    height: 2.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 0px;
    margin-right: -10px;
    width: 60%;
}

.theme_menu {
    display: none;
}

.main_big_logo {
    height: 40px;
    width: 100px;
}

.telegram_logo, .mail_logo {
    height: 24px;
    width: 24px;
}



.theme_link:hover > div {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.only_a_logo {
    width: 30px;
    height: 24px;
}

.sub_news_menu {
    display: none;
}
.news_menu:hover > .sub_news_menu {
    display: flex;
    /*position: absolute;*/
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
}